@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 158 20% 10%;

    --card: 0 0% 100%;
    --card-foreground: 158 20% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 158 20% 10%;

    --primary: 158 64% 35%;
    /* modern green */
    --primary-foreground: 0 0% 98%;

    --secondary: 158 30% 94%;
    --secondary-foreground: 158 30% 20%;

    --muted: 0 0% 96%;
    --muted-foreground: 158 5% 40%;

    --accent: 158 30% 94%;
    --accent-foreground: 158 30% 20%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 158 10% 85%;
    --input: 158 10% 85%;
    --ring: 158 64% 35%;
    --radius: 0.5rem;
    --chart-1: 158 64% 35%;
    --chart-2: 143 52% 45%;
    --chart-3: 128 45% 50%;
    --chart-4: 100 40% 60%;
    --chart-5: 85 35% 70%;
  }

  .dark {
    --background: 158 10% 10%;
    --foreground: 158 30% 95%;

    --card: 158 10% 10%;
    --card-foreground: 158 30% 95%;

    --popover: 158 10% 10%;
    --popover-foreground: 158 30% 95%;

    --primary: 158 64% 35%;
    --primary-foreground: 158 30% 98%;

    --secondary: 158 20% 20%;
    --secondary-foreground: 158 30% 90%;

    --muted: 158 15% 15%;
    --muted-foreground: 158 10% 60%;

    --accent: 158 20% 20%;
    --accent-foreground: 158 30% 90%;

    --destructive: 0 60% 45%;
    --destructive-foreground: 0 0% 100%;

    --border: 158 10% 25%;
    --input: 158 10% 25%;
    --ring: 158 64% 35%;
    --radius: 0.5rem;
    --chart-1: 158 64% 35%;
    --chart-2: 143 52% 45%;
    --chart-3: 128 45% 50%;
    --chart-4: 100 40% 60%;
    --chart-5: 85 35% 70%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}